$base-color: #c6538c;
$color: rgba(black, 0.88);

body {
  background-color: $base-color;
  color: $color;
}

.nueva_clase1 {
  background-color: aqua;
  color: aqua;
}
.nueva_clase2 {
  background-color: aqua;
  color: aqua;
}
.nueva_clase3 {
  background-color: aqua;
  color: aqua;
}
.nueva_clase4 {
  background-color: aqua;
  color: aqua;
}
.nueva_clase5 {
  background-color: aqua;
  color: aqua;
}
.nueva_clase6 {
  background-color: aqua;
  color: aqua;
}
.nueva_clase7 {
  background-color: aqua;
  color: aqua;
}
